<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  ng-app="bobApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Bob Palmer">
    <title>Advanced Zapier</title>
  </head>
  <body>
    <!-- Contact -->
    <section id="contact" class="contact" ng-controller="ContactCtrl" ng-show="formData">
      <div class="container">
        <div class="row">
          <div ng-hide="formSubmitted" class="col-lg-6 col-md-8 col-sm-10 mx-auto text-center">
            <h2>Advanced Zapier Form Example</h2>
            <hr class="small">
            <form ng-submit="submitForm()" class="mx-auto text-center">
              <div class="row">
                <div class="col-md-12" ng-show="formError">
                  <p>{{formError}}</p>
                </div>
                <div class="col-md-5">
                  <p>
                    <input type="text" ng-model="formData.name" placeholder="Name" required>
                  </p><p>
                    <input type="email" ng-model="formData.email" placeholder="Email" required>
                  </p><p>
                    <input type="phone" ng-model="formData.phone" placeholder="Phone (optional)">
                  </p><p>
                    <select type="options" ng-model="formData.option" ng-init="formData.option = options[0]" ng-options="option as option.label for option in options track by option.id">
                    </select>
                  </p>
                </div>
                <div class="col-md-7">
                  <textarea cols="40" rows="5" ng-model="formData.comments" placeholder="What's on your mind?" required></textarea>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 text-right">
                  <input type="submit" value="Submit" ng-disabled="!formEnabled">
                </div>
              </div>
            </form>
            <!-- /.row (nested) -->
          </div>
          <div ng-show="formSubmitted"  class="col-lg-6 col-md-8 col-sm-10 mx-auto text-center">
            <h2>Thank You</h2>
            <p>Your message has been sent!</p>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

  <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Angular 1.4.8 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <!-- Custom scripts for this template -->
    <script>
    //angular app
    var bobApp = angular.module('bobApp',['ngStorage','angular.filter']);
    bobApp.controller('ContactCtrl', function($http, $scope){
      var controller = this;
      //init form fields
      $scope.formEnabled = true;
      $scope.formSubmitted = false
      $scope.formError = null;
      $scope.formData = {};
      $scope.options = [
        { id: 1, label: "Standard", text:"Hello World!"},
        { id: 2, label: "Classic", text:"Hello Dolly"},
        { id: 3, label: "Nineties", text:"Hello Nurse!"}
      ]
      $scope.submitForm = function(){
        $scope.formError = null;
        $scope.formEnabled = false;
        if(!$scope.formData.name ||
           !$scope.formData.email ||
           !$scope.formData.comments){
          $scope.formEnabled = true;
          $scope.formError = "Please complete all required fields."
          return;
        }
        var thePost = {
          url : 'https://hooks.zapier.com/hooks/catch/940907/88j0pu/',
          method: 'POST',
          data: $scope.formData,
          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        };
        $http(thePost).success(function(response){
          $scope.response = response;
          console.log('Success! ',$scope.response);
          $scope.formSubmitted = true;
          $scope.formError = null;
        }).error(function(response){
          $scope.response = response;
          console.log('Error... ',$scope.response);
          $scope.formEnabled = true;
          $scope.formError = "Contact Form could not be send. Please try again.";
        });
      }
    });

    </script>
  </body>
</html>
